.bur{
color: #ffb14D
}
.burger{
font-size: 50px;
background: #4D6286;
border-bottom: 10px solid black;
border-radius: 50pt;
display: flex;
align-items: center;
justify-content: center;
height: 200px;
margin-top: 20px
}
.cat{
  border-radius: 20pt;
}
