.babu{
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 400px;
  height: auto;
}
.babushizu{
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 600px;
  width: auto;
}
.navbar-brand{
  font-size: 25px;
}
.carousel-item{
  data-bs-interval=2000;
}
.textmargin{
  margin-left: 150px;
}
.textmargin1{
  margin-left: 170px;
}
.text0{
  color: #ffffff;
}
.text1{
  color: #dddddd;
}
.text00{
  margin-left: 150px;
  margin-top: 50px;
  color: #000000;
  font-size: 20px;
  position: relative;
  z-index: 10;
}
.text000{
  margin-left: 150px;
  margin-top: 20px;
  color: #000000;
  font-size: 20px;
  position: relative;
  z-index: 10;
}
.text01{
  margin-left: 150px;
  color: #000000;
  font-size: 16px;
  position: relative;
  z-index: 10;
}
.text02{
  margin-left: 150px;
  margin-bottom: 20px;
  color: #000000;
  font-size: 16px;
  position: relative;
  z-index: 10;
}
.text03{
  margin-top: 50px;
  text-align: center;
  color: #000000;
  font-size: 20px;
  position: relative;
  z-index: 10;
}
.text04{
  text-align: center;
  color: #000000;
  font-size: 20px;
  position: relative;
  z-index: 10;
}
.text05{
  margin-left: 10%;
  margin-top: 1%;
  color: #000000;
  font-size: 20px;
  position: relative;
  z-index: 10;
}
.text06{
  margin-left: 2%;
  margin-top: 1%;
  color: #000000;
  font-size: 20px;
  position: relative;
  z-index: 10;
}
.text07{
  color: #000000;
  font-size: 20px;
  position: relative;
  z-index: 10;
}
.text08{
  color: #000000;
  font-size: 20px;
  position: relative;
  z-index: 10;
}
.text09{
  margin-left: 170px;
  color: #000000;
  font-size: 20px;
  position: relative;
  z-index: 10;
}
.babu01{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
}
.button{
  margin-top: 20px;
  margin-left: 150px;
}
.img-left{
  margin-left: 10%;
}
.img-top{
  margin-top: 2%;
}
.imgover{
  height: 150px;
  width: auto;
  max-width: 350px;
  object-fit: cover;
  vertical-align:middle;
  justify-content: center;
}
.img-babu{
  width: 50%;
  height: auto;
  position: relative;
  z-index: 9;
}
.img-work{
  width: 800px;
  height: auto;
  position: relative;
}
.img-game{
  height: 250px;
  width: auto;
  position: relative;
}
.img-shi{
  width: 100%;
  height: auto;
  position: relative;
}
